@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#root {
  /* height: 100vh; */
  position: relative;
}

#root::after {
  content: "";
  display: block;
  height: 352px;
}

@font-face {
  font-family: "Motiva Sans";
  src: url("../public/fonts/MotivaSansRegular.woff.ttf");
}

body {
  font-family: "Motiva Sans";
  background: rgb(20, 52, 75);
  background: linear-gradient(
    140deg,
    rgba(14, 20, 27, 1) 100% rgba(20, 52, 75, 1) 0%
  );
  color: #f3f3f3;
}
