@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

#root {
  /* height: 100vh; */
  position: relative;
}

#root::after {
  content: "";
  display: block;
  height: 606px;
}

@font-face {
  font-family: "Motiva Sans";
  src: url("../public/fonts/MotivaSansRegular.woff.ttf");
}

body {
  font-family: "Motiva Sans";

  color: #f3f3f3;
}
